body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;

  font-family: Georgia, serif;
  display: block;
}

* {
  box-sizing: border-box;
}

/*html {
  color: -internal-root-color;
}*/
header {
  max-width: 98%;
  background-color: #fff;
  border-top: 5px solid #81b300;
  position: relative;
  margin: 0 auto;
}

/* Icons */
.icons {
  width: 250px;
  height: 50px;
  background-color: #81b300;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 30px;
}

.icon {
  width: 32px;
  height: 32px;
  background-color: #1f1f1f;
  border-radius: 50%;
}
.icon--linkedin {
  background-image: url(../assets/icons/icon-linkedin.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon--twitter {
  background-image: url(../assets/icons/icon-twitter.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon--pinterest {
  background-image: url(../assets/icons/icon-pinterest.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon--google-plus {
  background-image: url(../assets/icons/icon-google-plus.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon--rss {
  background-image: url(../assets/icons/icon-rss.png);
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  padding-top: 0.5em;
  margin: 0;
}

.title--text {
  color: #333333;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  padding-left: 1em;
}
.title--text::first-letter {
  font-size: 46px;
  line-height: 46px;
}

.menuItem--item:first-child {
  color: #999999;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

.menuItem--item:last-child {
  margin-right: 2em;
  margin-top: -1em;
  font-size: 12px;
  float: right;
}

.menuItem--item a {
  color: #81b300;
  margin-right: 4px;
  font-weight: 400;
  text-transform: capitalize;
}

.menuItem--item{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menuItem--item a:not(:last-child) {
  padding-right: 6px;
  border-right: 1px solid #81b300;
}
.MainMenu--MenuItem {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 4px;

}
.b-search-form {
  overflow: hidden;
  float: right;
  /* padding-right: 2em; */
}

.MenuFrame {
  max-width: 98%;
  padding: 40px 30px;
  height: 70px;
  margin: 0 auto;
  border-top: 30px solid #fff;
  background-color: #81b300;
  text-align: center;
}
.menu {
  position: relative;
  top: -13px;
}
.container {
  margin: 0 auto;
  text-align: center;
  max-width: 75%;
}
.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^="col-"] {
  float: left;
}
.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.MainMenu {
  list-style: none;
  text-decoration: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  padding: 1px 12px 1px 1px;
  float: left;
  text-align: left;
}
.MainMenu:hover{
  color: #1f1f1f;
}
.b-search-form__input {
  height: 30px;
  width: 200px;
  border: none;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  color: #7f7f7f;
  font-size: 12px;
  font-weight: 400;
  float: left;
  align-items: right;
  border-right: 1px solid #ddd;
}
.b-search-form__input::placeholder {
  color: #7f7f7f;
  text-transform: capitalize;
}

.b-search-form__input_button {
  width: 80px;
  padding: 3px 5px;
  color: #81b300;
  font-weight: 700;
  text-transform: uppercase;
}

footer{
  color: rgb(197, 197, 197);
  background-color: rgb(100, 98, 98);
  text-decoration: none;
  text-align: justify;
}

.contactDetails{
  float: left;
  width: 300px;
  margin-top: 20px;
  margin-left: 40px;
}

.quickLinks{
  float: left;
  width: 200;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.fromTheBlog{
  float: left;
  width: 200;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.GrabOurNewsletter{
  float: left;
  width: 200;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 10px;
}

footer{
  color: rgb(197, 197, 197);
  background-color: rgb(100, 98, 98);
  text-align: justify;
}

.footer1{
  margin-left: 70px;
  margin-top: 40px; 
}

.footer2{
  text-align: left;
  vertical-align: top;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

a:link {
  color: rgb(197, 197, 197);
  text-decoration: none;
}

.readMore{
  color: rgb(4, 143, 4);
}

.divFooter{
  color: rgb(158, 157, 157);
  background-color: #333333;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  display:flow-root;
}


/* Container */

