body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;

  font-family: Georgia, serif;
  display: block;
}

* {
  box-sizing: border-box;
}

html {
  color: -internal-root-color;
}
header {
  max-width: 98%;
  background-color: #fff;
  border-top: 5px solid #81b300;
  position: relative;
  margin: 0 auto;
}

/* Icons */
/* ICONS */
.icons {
  width: 250px;
  height: 50px;
  background-color: #81b300;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 30px;
}

.icon {
  width: 32px;
  height: 32px;
  background-color: #1f1f1f;
  border-radius: 50%;
}
.icon--linkedin {
  background-image: url(../assets/icons/icon-linkedin.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon--twitter {
  background-image: url(../assets/icons/icon-twitter.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon--pinterest {
  background-image: url(../assets/icons/icon-pinterest.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon--google-plus {
  background-image: url(../assets/icons/icon-google-plus.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon--rss {
  background-image: url(../assets/icons/icon-rss.png);
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  padding-top: 0.5em;
  margin: 0;
}

.title--text {
  color: #333333;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  padding-left: 1em;
}
.title--text::first-letter {
  font-size: 46px;
  line-height: 46px;
}

.menuItem--item:first-child {
  color: #999999;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

.menuItem--item:last-child {
  margin-right: 2em;
  margin-top: -1em;
  font-size: 12px;
  float: right;
}

.menuItem--item a {
  color: #81b300;
  margin-right: 4px;
  font-weight: 400;
  text-transform: capitalize;
}

.menuItem--item a:not(:last-child) {
  padding-right: 6px;
  border-right: 1px solid #81b300;
}

footer{
  color: rgb(197, 197, 197);
  background-color: rgb(100, 98, 98);
  text-decoration: none;
  text-align: justify;
}

.contactDetails{
  float: left;
  width: 300px;
  margin-top: 20px;
  margin-left: 40px;
}

.quickLinks{
  float: left;
  width: 200;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.fromTheBlog{
  float: left;
  width: 200;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.GrabOurNewsletter{
  float: left;
  width: 200;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 10px;
}


/* Container */

