body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: Georgia, serif;
  display: block;
}

* {
  box-sizing: border-box;
}

header {
  max-width: 98%;
  background-color: #fff;
  border-top: 5px solid #81b300;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  
}

/* Icons */
.icons {
  width: 250px;
  height: 50px;
  background-color: #81b300;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 10px;
  padding-right: 0.7em;
}

.icon {
  width: 32px;
  height: 32px;
  background-color: #1f1f1f;
  border-radius: 50%;
}
.icon--linkedin {
  background-image: url(../assets/icons/icon-linkedin.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon--twitter {
  background-image: url(../assets/icons/icon-twitter.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon--pinterest {
  background-image: url(../assets/icons/icon-pinterest.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon--google-plus {
  background-image: url(../assets/icons/icon-google-plus.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon--rss {
  background-image: url(../assets/icons/icon-rss.png);
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  padding-top: 0.5em;
  padding-left: 0.6em;
  margin: 0;
}

.title--text {
  color: #333333;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  padding-left: 1em;
}
.title--text::first-letter {
  font-size: 46px;
  line-height: 46px;
}

.menuItem--item:first-child {
  color: #999999;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

.menuItem--item:last-child {
  margin-right: 0.7em;
  margin-top: -1em;
  font-size: 12px;
  float: right;
}

.menuItem--item a {
  color: #81b300;
  margin-right: 4px;
  font-weight: 400;
  text-transform: capitalize;
}

.menuItem--item{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menuItem--item a:not(:last-child) {
  padding-right: 6px;
  border-right: 1px solid #81b300;
}
/* Styling the navigation bar */
.nav-bar{
  padding-right: 0.6em;
  display: flex;
  justify-content: flex-left;
  background-color:  #81b300;
  align-items: center;
}

.nav_links{
  cursor: pointer;
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em;
  
}
.nav_links li{
  display: inline-block;
  
}
.nav_links li a{
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #fff;
  padding: 10px;
}
.nav_links li a:hover{
  color: #1f1f1f;
}
button{
  width: 80px;
  height: 30px;
  background-color: rgba(255, 255, 255, 1) ;
  color: #81b300;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border: none;
  border-left: 2px solid #ddd; 
}
button:hover{
  background-color: rgba(53, 28, 28, 0.3);
}
.div-search{
  margin-left: auto; 
  display: inline-block;
  border: none;
  background-color:#fff;
  align-self:right;
}
.search{
  height: 20px;
  width: 200px;
  border: none;
  background-color: #fff;
  color: #7f7f7f;
  font-size: 12px;
  font-weight: 400;
  align-items: right;
  border-right: 1px solid #fff;
  padding-left: 10px;
}
.search::placeholder {
  color: #7f7f7f;
  text-transform: capitalize;
}

.b-search-form__input_button {
  width: 80px;
  padding: 3px 5px;
  color: #81b300;
  font-weight: 700;
  text-transform: uppercase;
}
/*stilizimi i pjeses main te body*/
main {
    background-color: white;
    margin: 0;
    display: block;
    justify-content: center;
    align-items: center;
    color: grey;
}
/*stilizimi i section te pjeses se kolonave*/
#cs {
    justify-content: center;
    align-items: center;
    background-color: white;
}

/*stilizimi i div-it qe permban kolonat e para*/
.columnContainer {
     display: flex;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
}

/*stilizimi i kolonave te para*/
.column {
    height: 400px;
    min-width: 200px;
    position: relative;
    text-align: center;
    padding-top: 60px;
}

/*stilizimi i div-it qe permban kolonat e dyta*/
.columnContainer1 {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
}

/*stilizimi i kolonave te dyta*/
.column1 {
  padding-top: 50px;
  height: 500px;
  position: relative;
  text-align: left;
}

.column1 img {
  width: 95%;
  height: 180px;
  border-image: url(200.png) 30 round;
}

.column h3 {
  color: #81b300;

}

.column1 h4 {
  color: black;
  text-align: left;
}

.column1 h5 {
  color: #81b300;
  text-align: right;
  padding-right: 10px;
}

/*Stlizimi i seksionit qe permban slider*/
#slider {
    text-align: center;
    padding: 65px 0;
    height: 520px;
    background: #f2f2f2;
    z-index: -9999;
    
}

.slideContainer {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/*Stilizimi i imazheve brenda slider*/
.imageSlider {
  width: 850px;
  height: 360px;
  border: 10px solid white;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 5px;
  background: #333 center no-repeat;
  display: inline-block;
  transition: background-color 0.6s ease;
}


/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/*Stilizimi i pikave posht imazheve*/
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: white;
  border-style: solid;
  border-color: #333;
  border-width: 1px;
}

footer{
  color: rgb(197, 197, 197);
  background-color: rgb(100, 98, 98);
  text-align: justify;
}

.footer1{
  margin-left: 70px;
  margin-top: 40px; 
}

.footer2{
  text-align: left;
  vertical-align: top;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

a:link {
  color: rgb(197, 197, 197);
  text-decoration: none;
}

.readMore{
  color: rgb(4, 143, 4);
}

.divFooter{
  color: rgb(158, 157, 157);
  background-color: #333333;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  display:flow-root;
}

footer{
  color: rgb(197, 197, 197);
  background-color: rgb(100, 98, 98);
  text-decoration: none;
  text-align: justify;
}

.contactDetails{
  float: left;
  width: 300px;
  margin-top: 20px;
  margin-left: 40px;
}

.quickLinks{
  float: left;
  width: 200;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.fromTheBlog{
  float: left;
  width: 200;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.GrabOurNewsletter{
  float: left;
  width: 200;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 10px;
}


/* Container */

